* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: bmwTypeNextWeb, Arial, Helvetica, sans-serif;
}

.content {
    grid-area: content;
    position: relative;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.grid_wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
    grid-template-areas:
    "header"
    "content"
    "footer";
    background-color: #fff;
    color: #444;
    justify-content: center;
}

.flex_wrapper {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    text-decoration: none;
    font-size: 24px;
    color: white;
    min-width: 176px;
}

.search_underline {
    width: 200px;
}

.button:hover {
    border-bottom: 5px solid #0096fb;
}

.header_box {
    background-image: url("../../images/electro_cars.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    color: #fff;
}

.box {
    width: 100%;
    height: 100vh;
    color: #fff;
}

.header, .footer {
    background-color: #999;
}

.top_side {
    width: 100%;
    height: 50px;
}

.top_left {
    position: absolute;
    top: 0;
    left: 0;
}

.top_right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom_left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom_right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.search_box {
    all: unset;
    width: 290px;
    font-size: 24px;
    color: white;
}

.search_form_flex {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.mouse_cursor_pointer {
    cursor: pointer;
}

.search_div {
    border-bottom: 1px solid whitesmoke;
    min-width: 340px;
    height: 40px;
}


.footer_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    background-color: #4e555b;
}

.between_200_height {
    height: 200px;
    background-color: white;
}

.section_box {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: space-around;
    height: 100px;
}

.footer_box_flex {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 300px;
    color: #000000;
    border-bottom: 1px solid darkgray;
}

.section_box > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.color_black {
    text-decoration: none;
    font-size: 24px;
    color: black;
    padding: 10px;
}


.main_content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 50px;
    flex-wrap: wrap;
    width: 100%;
}

.content_box {
    width: 275px;
    height: 260px;
    margin: 0 10px;
}

.main_content_border {
    border-bottom: 1px solid #bdbebd;
}

main {
    width: 90%;
    margin: auto;
}

.pagination button:hover, .active {
    border-bottom: 5px solid #0096fb;
}

.pagination {
    margin: -5px 0;
    display: inline-block;
}

.pagination > button {
    all: unset;
    color: black;
    float: left;
    padding: 16px 20px;
    text-decoration: none;
    font-weight: bold;
}