.main_content_series{
    width: 90%;
    margin: auto;
    background-color: white;

}

.I4_main_content{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    min-height: 1500px;
    justify-content: space-evenly;
}

.img_float_left{
    float: left;
    width: 50%;
    min-width: 300px;
    padding-right: 2%;
}

.img_float_right{
    float: right;
    width: 50%;
    min-width: 300px;
    padding-left: 2%;
}

p{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    padding: 30px 30px;
}

.title{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.slider{
    display: flex;
    flex-direction: row;
    height: 400px;
}

.slider_arrow{
    height: 100%;
    width: 10%;
    background-color: #4e555b;
    background-size: 30px;
}

.mySlides{
    width:100%;
    border-radius: 5px;
}