<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../images/logo-light.svg">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="Harutyun Hovakimyan">
    <title>Harut's AutoShop</title>
    <link rel="stylesheet" href="../view/css/electromobility.css">
    <link rel="stylesheet" href="../view/css/1-series.css">
    <link rel="stylesheet" href="../view/css/information.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="grid_wrapper">
<header class="header_box header">
    <header class="top_side">
        <div class="flex_wrapper">
            <a href="../view/search_page.php" class="button">Models</a>
            <a href="#" class="button">Services</a>
            <a href="#" class="button">Discover</a>
            <a href="Electromobility.html" class="button">Electromobility</a>
            <div class="search_div">
                <form action="../php/index.php" method="POST" class="search_form_flex">
                    <div>
                        <input type="text" name="search" class="search_box">
                        <button style="all: unset; padding: 5px">
                            <i type="button" class="fa fa-search mouse_cursor_pointer" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </form>
            </div>
            <a href="../index.php">
                <img src="../images/logo-light.svg" alt="logo-light.svg" width="64" height="64">
            </a>
        </div>
    </header>
</header>
<main>
    <div class="main_content_series">
        <p id="BMW_1_Series">
            The BMW 1 Series has arrived to attract all the admiring glances. This is because its outstanding design and
            progressive design language distinguish it from the crowd at the very first glance. The same holds true for
            its interior with a modern atmosphere that inspires through premium quality and openness. Efficient engines,
            the front-wheel drive now premiering in the BMW 1 Series and state-of-the-art chassis technologies guarantee
            driving experiences full of dynamics and agility, while innovative technologies and driver assistance
            systems ensure that you always reach your destination safely and comfortably.
        </p>
        <p class="title"> DESIGN YOUR BMW 1 SERIES</p>
        <p style="text-indent: 0" >BMW 1 Series</p>

        <div class="w3-content w3-section" style="max-width:1000px">
            <img class="mySlides w3-animate-fading" src="../images/sliders/1_series_slider_1.webp">
            <img class="mySlides w3-animate-fading" src="../images/sliders/1_series_slider_2.webp">
            <img class="mySlides w3-animate-fading" src="../images/sliders/1_series_slider_3.webp">
            <img class="mySlides w3-animate-fading" src="../images/sliders/1_series_slider_4.webp">
        </div>
    </div>
</main>
<footer class="footer_box">
    <div class="between_200_height">
    </div>
    <div class="footer_box_flex">
    </div>
    <div class="footer_box_flex">
    </div>
    <section class="section_box">
        <div>
            <i>By Harut Hovakimyan</i>
        </div>
        <div>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
        </div>
    </section>
</footer>
</body>
<script src="../js/slider.js" defer>

</script>
</html>