<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../images/logo-light.svg">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="Harutyun Hovakimyan">
    <title>Harut's AutoShop</title>
    <link rel="stylesheet" href="css/electromobility.css">
    <link rel="stylesheet" href="css/information.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body class="grid_wrapper">
<header class="header_box header">
    <img src="../images/2_series_wallpaper.jpg" height="auto" width="100%" />
    <header class="top_side">
        <div class="flex_wrapper">
            <a href="search_page.php" class="button">Models</a>
            <a href="#" class="button">Services</a>
            <a href="#" class="button">Discover</a>
            <a href="Electromobility.html" class="button">Electromobility</a>
            <div class="search_div">
                <form action="../php/index.php" method="POST" class="search_form_flex">
                    <div>
                        <input type="text" name="search" class="search_box">
                        <button style="all: unset; padding: 5px">
                            <i type="button" class="fa fa-search mouse_cursor_pointer" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </form>
            </div>
            <a href="../index.php">
                <img class="mySlides" src="../images/logo-light.svg" alt="logo-light.svg" width="64" height="64">
            </a>
        </div>
    </header>
</header>
<main>
    <div class="main_content_series">
        <p id="BMW_2_Series_Coupe_New">
            Muscular proportions meet sporty dynamics: explore the all-new BMW 2 Series Coupé. With a track 31 mm wider
            than its predecessor and a rear-wheel drive architecture that is unique in this class, the BMW 2 Series
            Coupé offers significantly better steering characteristics and extremely agile handling. The range of
            powerful engines ensures driving experiences that are both efficient and dynamic.
        </p>
        <br>
        <p style="text-indent: 0">
            BMW M240i xDrive Coupé:<br>
            Fuel consumption in l/100 km (combined): 8.0<br>
            CO2 emissions in g/km (combined): 185<br>
        </p>
        <p class="title">DESIGN YOUR BMW 2 SERIES COUPÉ</p>
        <p style="text-indent: 0">BMW 2 Series Coupé</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Coupé_slider_1.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Coupé_slider_2.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Coupé_slider_3.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Coupé_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_M240i_xDrive_Coupe">
            Radically sporty. Revolutionary and independent. With its breathtaking dynamics and spirited agility, the
            new BMW M240i xDrive Coupé unleashes an unrivalled performance. And above all, it’s just pure and simple
            fun. Whether accelerating, cornering or sprinting along a straight stretch – the rev counter rises to match
            the pulse and adrenaline levels. At the same time, the progressively focused three-box design emphasises the
            uncompromisingly sporty ambitions with every aspect, displaying the BMW M240i xDrive Coupé to the best
            possible effect.
        </p>
        <br>
        <p style="text-indent: 0">
            BMW M240i xDrive Coupé:<br>
            Fuel consumption in l/100 km (combined): 8.0<br>
            CO2 emissions in g/km (combined): 185<br>
        </p>
        <p class="title">DESIGN OPTIONS OF THE BMW M240i xDRIVE COUPÉ</p>
        <p style="text-indent: 0" class="name">BMW M240i xDrive</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M240i_xDrive_Coupe_slider_1.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M240i_xDrive_Coupe_slider_2.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M240i_xDrive_Coupe_slider_3.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M240i_xDrive_Coupe_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_2_Series_Gran_Coupe">
            The first-ever BMW 2 Series Gran Coupé introduces a new form of authority with a bold character to the
            compact class. It is above all the uncompromising, performance-oriented aesthetic that unmistakeably reveals
            its ambitions. In keeping with high-end technologies and perfectly tuned driving dynamics features, the BMW
            2 Series Gran Coupé stands out from the crowd with ease and pursues its very own path. </p>
        <br>
        <p class="title">DESIGN YOUR BMW 2 SERIES GRAN COUPÉ</p>
        <p style="text-indent: 0" class="name">Model M Sport</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Gran_Coupe_slider_1.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Gran_Coupe_slider_2.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Gran_Coupe_slider_3.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Gran_Coupe_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_2_Series_Active_Tourer">
            The BMW 2 Series Active Tourer offers a high-quality package of standard equipment and the typical BMW sheer
            driving pleasure with up to 326 hp*. With a luggage space of up to 1,455 litres as well as an efficient
            drive train unit, contemporary design and a supreme level of technical comfort it is the ideal vehicle for
            active people.
            <br>
        <p style="text-indent: 0">
            BMW 223i Active Tourer:
            <br>
            Fuel consumption in l/100 km (combined): –<br>
            CO2 emissions in g/km (combined): –<br>
        </p>
        <p class="title">DESIGN YOUR BMW 2 SERIES ACTIVE TOURER</p>
        <p style="text-indent: 0" class="name">Package Luxury</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Active_Tourer_slider_1.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Active_Tourer_slider_2.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Active_Tourer_slider_3.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Active_Tourer_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_2_Series_Convertible">
            The look: breathtakingly beautiful. The character: boundlessly free. The BMW 2 Series Convertible is a
            demonstration of sporty freedom and elegance. The combination of dynamic design, powerful engines and
            exclusive equipment in the redesigned interior opens new horizons of boundless driving pleasure. The
            sportiest convertible of its class leaves no doubt as to how attractive independence can be.
            <br>
        <p style="text-indent: 0">
            BMW 230i Convertible:
            <br>
            Fuel consumption in l/100 km (combined): 6.2–6.0<br>
            CO2 emissions in g/km (combined): 143–138<br>
        </p>
        <p class="title">BMW 2 Series Convertible</p>
        <p style="text-indent: 0" class="name">Model Luxury Line</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Convertible_slider_1.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Convertible_slider_2.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Convertible_slider_3.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_2_Series_Convertible_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_M240i_Convertible">
            Inspired by BMW M, optimised for everyday use. The BMW M240i Convertible crosses the conventional limits of
            acceleration: the turbocharged inline 6-cylinder petrol engine catapults the vehicle from 0 to 100 km/h in
            4.7 seconds, while the M sport suspension translates the outstanding performance into a thrilling driving
            experience. Agile, breathless and exciting to watch. Exclusive M Performance design features round off the
            systematically refined optics of this high-performance athlete.
            <br>
        <p style="text-indent: 0">
            BMW M240i Convertible:
            <br>
            Fuel consumption in l/100 km (combined): 7.4<br>
            CO2 emissions in g/km (combined): 169<br>
        </p>
        <p class="title">BMW M240I CONVERTIBLE</p>
        <p style="text-indent: 0" class="name">M240i</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M240i_Convertible_slider_1.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M240i_Convertible_slider_2.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M240i_Convertible_slider_3.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M240i_Convertible_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_M235i_xDrive_Gran_Coupe">
            The extroverted athleticism of the BMW M235i xDrive Gran Coupé dominates from every perspective: thanks to
            the muscular shoulder line, gently sloping roof line and the powerful rear. The perfectly tuned driving
            dynamics components and extremely powerful engine help this top athlete to set new benchmarks in its
            segment. Dominating the interior are exclusive M highlights and state-of-the-art technologies such as the
            BMW Intelligent Personal Assistant voice control system. For new goal – and no limits.
            <br>
        <p class="title">DESIGN YOUR BMW M235i xDRIVE GRAN COUPÉ</p>
        <p style="text-indent: 0" class="name">BMW M235i xDrive</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M235i_xDrive_Gran_Coupe_slider_1.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M235i_xDrive_Gran_Coupe_slider_2.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M235i_xDrive_Gran_Coupe_slider_3.webp">
            <img class="mySlides" src="../images/sliders/2_series_BMW_M235i_xDrive_Gran_Coupe_slider_4.webp">
        </div>
    </div>
</main>
<footer class="footer_box">
    <div class="between_200_height">
    </div>
    <div class="footer_box_flex">
    </div>
    <div class="footer_box_flex">
    </div>
    <section class="section_box">
        <div>
            <i>By Harut Hovakimyan</i>
        </div>
        <div>
            <a class="color_black" href="#">Link</a>
        </div>
    </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../js/slider.js" defer></script>
</html>