<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../images/logo-light.svg">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="Harutyun Hovakimyan">
    <title>Harut's AutoShop</title>
    <link rel="stylesheet" href="css/electromobility.css">
    <link rel="stylesheet" href="css/information.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body class="grid_wrapper">
<header class="header_box header">
    <img src="../images/3_series_wallpaper.png" height="auto" width="100%" />
    <header class="top_side">
        <div class="flex_wrapper">
            <a href="search_page.php" class="button">Models</a>
            <a href="#" class="button">Services</a>
            <a href="./Discover.html" class="button">Discover</a>
            <a href="Electromobility.html" class="button">Electromobility</a>
            <div class="search_div">
                <form action="../php/index.php" method="POST" class="search_form_flex">
                    <div>
                        <input type="text" name="search" class="search_box">
                        <button style="all: unset; padding: 5px">
                            <i type="button" class="fa fa-search mouse_cursor_pointer" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </form>
            </div>
            <a href="../index.php">
                <img src="../images/logo-light.svg" alt="logo-light.svg" width="64" height="64">
            </a>
        </div>
    </header>
</header>
<main>
    <div class="main_content_series">
        <p id="BMW_3_Series_Sedan">
            Barely on the road and the BMW 3 Series Sedan is already leaving everything behind it, including conventions
            and expectations. Once again the icon displays how to reinvent itself. After all, with the pioneering design
            language, it stands for the dawning of a new era. Propelling the ultimate sports sedan are even more
            powerful and efficient engines.</p>
        <br>
        <p class="title">DESIGN YOUR BMW 3 SERIES SEDAN</p>
        <p style="text-indent: 0">Model M Sport</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/3_series_BMW_3_Series_Sedan_slider_1.webp">
            <img class="mySlides" src="../images/sliders/3_series_BMW_3_Series_Sedan_slider_2.webp">
            <img class="mySlides" src="../images/sliders/3_series_BMW_3_Series_Sedan_slider_3.webp">
            <img class="mySlides" src="../images/sliders/3_series_BMW_3_Series_Sedan_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_3_Series_Sedan_M_Automobiles">
            The BMW 3 Series Sedan M Automobiles combine powerful proportions and distinctive four-door 3-box design
            with the sportiness typical of M. Leading the quartet of bold characters is the BMW M3 Competition Sedan
            with its impressive 510 hp and 650 Nm of torque. Equipped with a high-performance BMW M TwinPower Turbo
            power unit, 8-speed M Steptronic with Drivelogic, optional all-wheel drive M xDrive*, Active M Differential
            and numerous technologies derived from motorsport, it guarantees maximum driving dynamics – both in everyday
            use and on the race track. The BMW M3 Sedan develops a sporty 480 hp and a torque of 550 Nm. The combination
            of rear-wheel drive and optimally incremented manual 6-speed M transmission permits a very dynamic driving
            style and makes the vehicle a puristic thoroughbred athlete. The model range is rounded off by the BMW M340i
            xDrive: alongside their attractive design, the powerful sports saloons inspire with an especially balanced
            mix of sportiness, efficiency and convenient everyday utility. *M xDrive is expected to be available from
            summer 2021.</p>
        <br>
        <p style="text-indent: 0">
            BMW M3 Competition Sedan with M xDrive:
            <br>
            Fuel consumption in l/100 km (combined): 10.2<br>
            CO2 emissions in g/km (combined): 232<br>
        </p>
        <p class="title">DESIGN OPTIONS OF THE BMW 3 SERIES SEDAN M AUTOMOBILES</p>
        <p style="text-indent: 0">BMW M3 Competition Sedan</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/3_series_BMW_3_Series_Sedan_M_Automobiles_slider_1.webp">
            <img class="mySlides" src="../images/sliders/3_series_BMW_3_Series_Sedan_M_Automobiles_slider_2.webp">
            <img class="mySlides" src="../images/sliders/3_series_BMW_3_Series_Sedan_M_Automobiles_slider_3.webp">
            <img class="mySlides" src="../images/sliders/3_series_BMW_3_Series_Sedan_M_Automobiles_slider_4.webp">
        </div>
    </div>
</main>
<footer class="footer_box">
    <div class="between_200_height">
    </div>
    <div class="footer_box_flex">
    </div>
    <div class="footer_box_flex">
    </div>
    <section class="section_box">
        <div>
            <i>By Harut Hovakimyan</i>
        </div>
        <div>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
        </div>
    </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../js/slider.js" defer></script>
</html>