<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../images/logo-light.svg">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="Harutyun Hovakimyan">
    <title>Harut's AutoShop</title>
    <link rel="stylesheet" href="css/electromobility.css">
    <link rel="stylesheet" href="css/information.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body class="grid_wrapper">
<header class="header_box header"  >
    <img src="../images/4_series_wallpaper.png" height="auto" width="100%" />
    <header class="top_side">
        <div class="flex_wrapper">
            <a href="search_page.php" class="button">Models</a>
            <a href="#" class="button">Services</a>
            <a href="#" class="button">Discover</a>
            <a href="Electromobility.html" class="button">Electromobility</a>
            <div class="search_div">
                <form action="../php/index.php" method="POST" class="search_form_flex">
                    <div>
                        <input type="text" name="search" class="search_box">
                        <button style="all: unset; padding: 5px">
                            <i type="button" class="fa fa-search mouse_cursor_pointer" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </form>
            </div>
            <a href="../index.php">
                <img src="../images/logo-light.svg" alt="logo-light.svg" width="64" height="64">
            </a>
        </div>
    </header>
</header>
<main>
    <div class="main_content_series">
        <p id="BMW_4_Series_Coupe">
            The all-new BMW 4 Series Coupé impresses with its unique aesthetics, sporting dynamics and high-quality
            interior. The combination of unique design and impressive agility develops an extraordinarily high
            attraction. </p>
        <br>
        <p class="title">DESIGN YOUR BMW 4 SERIES COUPÉ</p>
        <p style="text-indent: 0">BMW 4 Series Coupé M Sport Pro</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Coupe_slider_1.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Coupe_slider_2.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Coupe_slider_3.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Coupe_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_4_Series_Coupe_M_Automobiles">
            The BMW 4 Series Coupé M Automobiles offer a fascinating combination of aesthetics, character and typical M
            athleticism. Leading the trio is the BMW M4 Competition Coupé with an impressive 510 hp and 650 Nm of
            torque. Equipped with a high-performance BMW M TwinPower Turbo power unit, 8-speed M Steptronic with
            Drivelogic, optional all-wheel drive M xDrive*, Active M Differential and numerous technologies derived from
            motorsport, it guarantees maximum driving dynamics – both in everyday use and on the race track. The BMW M4
            Coupé develops a sporty 480 hp and 550 Nm of torque. The combination of rear-wheel drive and optimally
            incremented manual 6-speed M transmission permits a very dynamic driving style and makes the vehicle a
            puristic thoroughbred athlete. Rounding off the model range is the BMW M440i xDrive Coupé: apart from the
            attractive design, the 374-hp sports coupé inspires with an especially balanced mix of athleticism,
            efficiency and convenient everyday utility. *M xDrive is expected to be available from summer 2021.
            <br>
        <p style="text-indent: 0">
            BMW M4 Competition Coupé with M xDrive:<br>
            Fuel consumption in l/100 km (combined): 10.2<br>
            CO2 emissions in g/km (combined): 232<br>
        </p>
        <p class="title">DESIGN OPTIONS OF THE BMW 4 SERIES COUPÉ M AUTOMOBILES</p>
        <p style="text-indent: 0">BMW M4 Competition Coupé</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Coupe_M_Automobiles_slider_1.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Coupe_M_Automobiles_slider_2.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Coupe_M_Automobiles_slider_3.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Coupe_M_Automobiles_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_4_Series_Gran_Coupe">
            Expressive design, sporty handling and plenty of space for everyday use: the new BMW 4 Series Gran Coupé
            inspires all along the line. With its high level of ride comfort and generous amount of space featuring five
            full-size seats and a large luggage compartment, this elegant five-door Gran Coupé is the perfect companion
            for every occasion.
            <br>
        <p style="text-indent: 0">
            BMW M440i xDrive Gran Coupé:<br>
            Fuel consumption in l/100 km (combined): 8.2<br>
            CO2 emissions in g/km (combined): 187<br>
        </p>
        <p class="title">DESIGN YOUR BMW 4 SERIES GRAN COUPÉ</p>
        <p style="text-indent: 0">430i M Sport</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Gran_Coupe_slider_1.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Gran_Coupe_slider_2.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Gran_Coupe_slider_3.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Gran_Coupe_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_4_Series_Gran_Coupe_M_Automobiles">
            Power, precision and pure aesthetics. The heart of the all-new BMW M440i xDrive Gran Coupé is a 374 hp BMW M
            TwinPower inline 6-cylinder petrol engine. Interacting with the perfectly tuned M-specific suspension
            components, it produces sporty driving dynamics that raise the status of the BMW M440i xDrive Gran Coupé to
            that of a principle – and visually as well thanks to the progressively designed exterior with M-specific
            design elements and the sporty and modern interior with its generous amounts of space. Overall, the
            five-door Gran Coupé offers a fascinating merger of performance, comfort and a high level of everyday
            practicality. 8.5-8.0 CO2 emissions in g/km (combined): 194-181
            <br>
        <p class="title">DESIGN OPTIONS OF THE BMW M440i xDRIVE GRAN COUPÉ</p>
        <p style="text-indent: 0">BMW 4 Series Gran Coupé M Automobile</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Gran_Coupe_M_Automobiles_slider_1.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Gran_Coupe_M_Automobiles_slider_2.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Gran_Coupe_M_Automobiles_slider_3.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Gran_Coupe_M_Automobiles_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_4_Series_Convertible">
            A new form of freedom: With its independent, progressive aesthetics and the elegant interior, the all-new
            BMW 4 Series Convertible is like an exceptional phenomenon that overcomes every boundary. The agile driving
            characteristics of the convertible guarantee sporty dynamics and underline its exceptionally strong urge for
            individual independence.
            <br>
        <p style="text-indent: 0">
            BMW 430i Convertible:<br>
            Fuel consumption in l/100 km (combined): 6.8<br>
            CO2 emissions in g/km (combined): 155<br>
        </p>
        <p class="title">DESIGN OPTIONS OF THE BMW 4 SERIES CONVERTIBLE</p>
        <p style="text-indent: 0">BMW 4 Series Convertible</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Convertible_slider_1.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Convertible_slider_2.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Convertible_slider_3.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Convertible_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_4_Series_Convertible_M_Automobiles">
            Freedom, unfiltered and redefined: the BMW 4 Series Convertible M Automobiles are the perfect symbiosis of
            power and aesthetic design, coupled with the sportiness typical of M. Both versions will send the pulse of
            sporty convertible fans soaring at first glance. The BMW M4 Competition Convertible with M xDrive impresses
            with its 510 hp and 650 Nm of torque. Equipped with a high-performance BMW M TwinPower Turbo inline
            6-cylinder petrol engine, 8-speed M Steptronic with Drivelogic, M xDrive with Active M Differential and
            numerous technologies derived from motorsport, it offers tremendously agile driving dynamics – both on the
            road and on the racetrack. The BMW M440i xDrive, M440i and M440d xDrive Convertibles impress not only with
            their progressive design, M Sport differential and 8-speed Steptronic sport transmission, but also with
            their sophisticated combination of sportiness, efficiency and exceptional everyday practicality.
            <br>
        <p style="text-indent: 0">
            BMW M4 Competition Convertible with M xDrive:<br>
            Fuel consumption in l/100 km (combined): 10.4<br>
            CO2 emissions in g/km (combined): 237<br>
        </p>
        <p class="title">DESIGN OPTIONS OF THE BMW 4 SERIES CONVERTIBLE M AUTOMOBILES</p>
        <p style="text-indent: 0">BMW 4 Series Convertible M Automobiles</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Convertible_M_Automobiles_slider_1.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Convertible_M_Automobiles_slider_2.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Convertible_M_Automobiles_slider_3.webp">
            <img class="mySlides" src="../images/sliders/4_series_BMW_4_Series_Convertible_M_Automobiles_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_I4">
            The first-ever purely electric Gran Coupé will guarantee plenty of driving pleasure with a range of up to
            590 kilometres*. The four-door vehicle promises extraordinary performance values of up to 390 kW/530 hp,
            while its great range will make it the ideal companion for long-distance journeys.
        </p>
        <div class="I4_main_content">
            <div class="I4_content_style">
                <p style="padding: 0">
                    <img src="../images/sliders/4_series_BMW_I4_1.jpg" alt="4_series_BMW_I4_1" class="img_float_left">
                <p class="title" style="padding: 0; text-align: unset">
                    POWERFUL ACCELERATION IN THE BMW i4
                </p>
                <p>
                    With a maximum output of up to 390 kW/530 hp, the BMW i4 promises fascinating dynamics. The Gran Coupé
                    will sprint from zero to 100 km/h in just 4 seconds, while displaying impressively smooth driving
                    characteristics. A model-specific damper technology will ensure that the catapult-like acceleration is a
                    stimulating yet controlled driving experience without any drive slip or course corrections.
                </p>
            </div>
            <div>
                <p style="padding: 0">
                    <img src="../images/sliders/4_series_BMW_I4_2.jpg" alt="4_series_BMW_I4_2" class="img_float_right">
                <p class="title" style="padding: 0">
                    THE BMW i4: LONG-DISTANCE COMFORT WITH A GREAT RANGE
                </p>
                <p>
                    Whether for sprints or long distances, urban driving or winding country roads – with a range of up to
                    590 kilometres*, the purely electrically powered Gran Coupé will guarantee great versatility and perfect
                    suitability for everyday use. The almost silent drive and the optimised suspension technology promise
                    the impression of a vehicle effortlessly gliding towards its destination, even at higher speeds and in
                    more difficult traction conditions.
                </p>
            </div>
            <div>
                <p style="padding: 0">
                    <img src="../images/sliders/4_series_BMW_I4_3.jpg" alt="4_series_BMW_I4_3" class="img_float_left">
                <p class="title" style="padding: 0;">
                    HIGH PRECISION AND DYNAMIC CORNERING
                </p>
                <p>
                    A new vehicle concept, with optimised aerodynamics and a balanced weight distribution, will enable a
                    high level of agility and precision – further increased by the fine-tuning of the drive and suspension
                    components. Spring and damping systems will ensure optimum road contact and a high cornering stability.
                </p>
            </div>
            <div>
                <p style="padding: 0">
                    <img src="../images/sliders/4_series_BMW_I4_4.jpg" alt="4_series_BMW_I4_4" class="img_float_right">
                <p class="title" style="padding: 0">
                    PROGRESSIVE DESIGN AND MAXIMUM COMFORT
                </p>
                <p>
                    As a fully-fledged five-seater, the BMW i4 will provide optimum seating comfort with generous space for
                    head and legs in the back. A long wheelbase with short overhangs and a smooth roofline will define the
                    sporty-elegant shape of the BMW Gran Coupé.
                </p>
            </div>
        </div>
    </div>
    </div>
</main>
<footer class="footer_box">
    <div class="between_200_height">
    </div>
    <div class="footer_box_flex">
    </div>
    <div class="footer_box_flex">
    </div>
    <section class="section_box">
        <div>
            <i>By Harut Hovakimyan</i>
        </div>
        <div>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
        </div>
    </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../js/slider.js" defer></script>
</html>