<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../images/logo-light.svg">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="Harutyun Hovakimyan">
    <title>Harut's AutoShop</title>
    <link rel="stylesheet" href="css/electromobility.css">
    <link rel="stylesheet" href="css/information.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body class="grid_wrapper">
<header class="header_box header">
    <img src="../images/5_series_wallpaper.png" height="auto" width="100%" />
    <header class="top_side">
        <div class="flex_wrapper">
            <a href="search_page.php" class="button">Models</a>
            <a href="#" class="button">Services</a>
            <a href="#" class="button">Discover</a>
            <a href="Electromobility.html" class="button">Electromobility</a>
            <div class="search_div">
                <form action="../php/index.php" method="POST" class="search_form_flex">
                    <div>
                        <input type="text" name="search" class="search_box">
                        <button style="all: unset; padding: 5px">
                            <i type="button" class="fa fa-search mouse_cursor_pointer" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </form>
            </div>
            <a href="../index.php">
                <img src="../images/logo-light.svg" alt="logo-light.svg" width="64" height="64">
            </a>
        </div>
    </header>
</header>
<main>
    <div class="main_content_series">
        <p id="BMW_5_Series_Sedan">
            The BMW 5 Series Sedan is the epitome of a sporty business saloon. At very first sight it conveys an
            impression of stylish athleticism that particularly expresses itself in the dynamic silhouette and reduced
            design language. Clear surfaces and precise contours lend the elegant exterior a modern, technical
            atmosphere. The elegant and functional interior completes the innovative ambition of the vehicle with
            future-oriented technologies and sporty features. In combination with impressive driving dynamics and
            innovative technologies, the BMW 5 Series Sedan provides comfort, self-assuredness and, above all, a supreme
            level of sheer driving pleasures on journeys both short and long. </p>
        <br>
        <p class="title">DESIGN YOUR BMW 5 SERIES SEDAN</p>
        <p style="text-indent: 0">M Sport package</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/5_series_BMW_5_Series_Sedan_slider_1.webp">
            <img class="mySlides" src="../images/sliders/5_series_BMW_5_Series_Sedan_slider_2.webp">
            <img class="mySlides" src="../images/sliders/5_series_BMW_5_Series_Sedan_slider_3.webp">
            <img class="mySlides" src="../images/sliders/5_series_BMW_5_Series_Sedan_slider_4.webp">
        </div>
    </div>
    <div class="main_content_series">
        <p id="BMW_5_Series_Sedan_M_Automobiles">
            The BMW 5 Series Sedan M Automobiles combine typical M sportiness with the comfort and elegance of a
            business saloon in an outstanding manner. Explore four unique M Automobiles with strong personalities: an
            outstanding output of 635 hp (467 kW) and an acceleration from 0 to 100 km/h in only 3.0 seconds make the
            BMW M5 CS the most powerful BMW M5 Sedan there has ever been. Part of a limited production series, the
            special model with unique M specific suspension and design components exclusively available for this model
            guarantee a pure motorsport sensation. Boasting a maximum output of 625 hp (460 kW) and suspension set-up
            optimised for performance, the BMW M5 Competition with M xDrive exceeds the highest expectations. The
            high-performance sports saloon underlines this visually with numerous design features in black high-gloss.
            In addition to the M xDrive designed for maximum traction and dynamics, the BMW M5 has a suspension that
            meets every demand for sporty ride comfort over long distances. Interacting with the 600 hp (441 kW)
            8-cylinder M engine, this creates driving dynamics distinguished by power and agility. Rounding off the
            quartet is the BMW M550i xDrive Sedan. The athletic BMW 5 Series Sedan delivers 530 hp (390 kW) and
            impresses with an especially balanced combination of sportiness, comfort and efficiency.
            <br>
        <p style="text-indent: 0">
        BMW M5 CS:<br>
        Fuel consumption in l/100 km (combined): 10.6<br>
        CO2 emissions in g/km (combined): 242<br>
        </p>
        <p class="title">DESIGN YOUR BMW M5 SERIES CS</p>
        <p style="text-indent: 0">BMW M5 Competition</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/5_series_BMW_5_Series_Sedan_M_Automobiles_slider_1.webp">
            <img class="mySlides" src="../images/sliders/5_series_BMW_5_Series_Sedan_M_Automobiles_slider_2.webp">
            <img class="mySlides" src="../images/sliders/5_series_BMW_5_Series_Sedan_M_Automobiles_slider_3.webp">
            <img class="mySlides" src="../images/sliders/5_series_BMW_5_Series_Sedan_M_Automobiles_slider_4.webp">
        </div>
    </div>
</main>
<footer class="footer_box">
    <div class="between_200_height">
    </div>
    <div class="footer_box_flex">
    </div>
    <div class="footer_box_flex">
    </div>
    <section class="section_box">
        <div>
            <i>By Harut Hovakimyan</i>
        </div>
        <div>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
        </div>
    </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../js/slider.js" defer></script>
</html>