<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../images/logo-light.svg">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="Harutyun Hovakimyan">
    <title>Harut's AutoShop</title>
    <link rel="stylesheet" href="css/electromobility.css">
    <link rel="stylesheet" href="css/information.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body class="grid_wrapper">
<header class="header_box header">
    <img src="../images/6_series_wallpaper.png" height="auto" width="100%" />
    <header class="top_side">
        <div class="flex_wrapper">
            <a href="search_page.php" class="button">Models</a>
            <a href="#" class="button">Services</a>
            <a href="./Discover.html" class="button">Discover</a>
            <a href="Electromobility.html" class="button">Electromobility</a>
            <div class="search_div">
                <form action="../php/index.php" method="POST" class="search_form_flex">
                    <div>
                        <input type="text" name="search" class="search_box">
                        <button style="all: unset; padding: 5px">
                            <i type="button" class="fa fa-search mouse_cursor_pointer" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </form>
            </div>
            <a href="../index.php">
                <img src="../images/logo-light.svg" alt="logo-light.svg" width="64" height="64">
            </a>
        </div>
    </header>
</header>
<main>
    <div class="main_content_series">
        <p id="BMW_6_Series_Gran_Turismo">
            Sophisticated in every respect: the BMW 6 Series Gran Turismo stands for elegant and unique design, all-round ride comfort and self-assured driving dynamics. The distinctive exterior with its new shape of kidney grille and a modified light design highlights the individual optics of the vehicle, causing it to appear even more progressive. The interior reveals a luxurious sense of spaciousness, refined with high-quality materials and innovative features. In combination, with perfectly tuned driving dynamics, any journey in the BMW 6 Series Gran Turismo simply cannot be long enough.        </p>
        <br>
        <p class="title">DESIGN YOUR BMW 6 SERIES GRAN TURISMO</p>
        <p style="text-indent: 0">BMW 6 Series Gran Turismo</p>
        <div class="w3-content w3-section slide" style="max-width:1000px">
            <img class="mySlides" src="../images/sliders/6_series_BMW_6_Series_Gran_Turismo_slider_1.webp">
            <img class="mySlides" src="../images/sliders/6_series_BMW_6_Series_Gran_Turismo_slider_2.webp">
            <img class="mySlides" src="../images/sliders/6_series_BMW_6_Series_Gran_Turismo_slider_3.webp">
            <img class="mySlides" src="../images/sliders/6_series_BMW_6_Series_Gran_Turismo_slider_4.webp">
        </div>
    </div>
</main>
<footer class="footer_box">
    <div class="between_200_height">
    </div>
    <div class="footer_box_flex">
    </div>
    <div class="footer_box_flex">
    </div>
    <section class="section_box">
        <div>
            <i>By Harut Hovakimyan</i>
        </div>
        <div>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
            <a class="color_black" href="#">Link</a>
        </div>
    </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../js/slider.js" defer></script>
</html>