<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="../images/logo-light.svg">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="Harutyun Hovakimyan">
  <title>Harut's AutoShop</title>
  <link rel="stylesheet" href="css/electromobility.css">
  <link rel="stylesheet" href="css/information.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<header class="header_box header">
  <img src="../images/discover1.jpg" height="auto" width="100%" />
  <header class="top_side">
    <div class="flex_wrapper">
      <a href="search_page.php" class="button">Models</a>
      <a href="#" class="button">Services</a>
      <a href="./Discover.html" class="button active">Discover</a>
      <a href="Electromobility.html" class="button">Electromobility</a>
      <div class="search_div">
        <form action="../php/index.php" method="POST" class="search_form_flex">
          <div>
            <input type="text" name="search" class="search_box">
            <button style="all: unset; padding: 5px">
              <i type="button" class="fa fa-search mouse_cursor_pointer" style="font-size: 24px;"></i>
            </button>
          </div>
        </form>
      </div>
      <a href="../index.php">
        <img src="../images/logo-light.svg" alt="logo-light.svg" width="64" height="64">
      </a>
    </div>
  </header>
</header>
<main>
    <div class="main_content_series">
        <p>
            BEFORE THE JOURNEY: INCREASE DRIVING EFFICIENCY.
        </p>
        <div class="I4_main_content">
            <div class="I4_content_style">
                <p style="padding: 0">
                    <img src="../images/discover2.jpg" alt="4_series_BMW_I4_1" class="img_float_left">
                <p class="title" style="padding: 0; text-align: unset">
                REMOVE UNNECESSARY LOAD AND ADD-ON PARTS.
                </p>
                <p>
                    As additional weight increases fuel consumption, you should remove any unnecessary load from the vehicle before you start your journey. Furthermore, add-on parts such as roofboxes or bicycle carriers should be removed after use, as they adversely affect the aerodynamics and hence also lead to increased consumption. Carrying out these preparatory measures is a simple way of further increasing the efficiency of your BMW before you even set off.
                </p>
            </div>
            <div>
                <p style="padding: 0">
                    <img src="../images/discover3.jpg" alt="4_series_BMW_I4_2" class="img_float_right">
                <p class="title" style="padding: 0">
                THE OPTIMUM TYRE PRESSURE.
                </p>
                <p>
                    Another way of preparing for an efficient trip involves checking the tyre pressure and correcting it as necessary. A tyre pressure below the recommended value increases wear on tyres and fuel consumption. In a partially loaded vehicle, ECO filling pressure* can be used to achieve the lowest possible fuel consumption.

                    *This function is currently only available within the European Union and in the United Kingdom.
                </p>
            </div>
            <div>
                <p style="padding: 0">
                    <img src="../images/discover4.jpg" alt="4_series_BMW_I4_3" class="img_float_left">
                <p class="title" style="padding: 0;">
                CONDITIONING PRIOR TO DEPARTURE.
                </p>
                <p>
                    The function Conditioning prior to departure* allows you to set a pleasant temperature inside your vehicle with an electric or hybrid drive before you set off on your journey. During the course of the charging operation, this measure can significantly increase the electric range as the necessary energy demand is saved during the trip. This allows you to combine efficiency and comfort.

                    *This function is only available for BMW vehicles with an electric or hybrid drive.

                </p>
            </div>
            <div>
                <p style="padding: 0">
                <p class="title" style="padding: 0">
                DURING THE JOURNEY: REDUCE CONSUMPTION.
                </p>
                <p class="title" style="padding: 0">
                    Reduce fuel and energy consumption during the journey with intelligent functions from BMW EfficientDynamics.
                </p>
                <p>
                    Combustion engine, plug-in hybrid or electric car: regardless of which drive system you have opted for, your BMW supports you in practising an efficient driving style during the journey with intelligent functions such as the Route-Ahead Assistant in ECO PRO mode. As a general rule, infrequent and minor acceleration and deceleration situations significantly reduce consumption. For purely electric vehicles, in particular, this means a significantly increased range. You should therefore think ahead while driving in order to avoid or minimise braking situations. Above all, while driving on the motorway, cruising speed is the greatest factor influencing the consumption. Reducing speed by just 20 km/h, for example, means a saving in consumption of up to 20%. With BMW EfficientDynamics you combine low consumption with a relaxed way of driving.
                </p>
            </div>
        </div>
    </div>
</main>

</body>
</html>