<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Harutyun Hovakimyan">
    <title>Harut's AutoShop</title>
    <link rel="stylesheet" href="css/search_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<a href="#start">
    <i class="fa-solid fa-circle-arrow-up back_to_top"></i>
</a>
<div class="body" id="start">
    <header class="top_side header_box">
        <div class="flex_wrapper">
            <div class="search_div">
                <form action="../php/index.php" method="POST" class="search_form_flex">
                    <div>
                        <input type="text" name="search" class="search_box">
                        <button style="all: unset; padding: 5px">
                            <i type="button" class="fa fa-search mouse_cursor_pointer" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </form>
            </div>
            <a href="https://limitless-earth-58194.herokuapp.com/">
                <img src="../images/logo-light.svg" alt="logo-light.svg" width="64" height="64">
            </a>
        </div>
    </header>
    <nav class="nav_bar">
        <div class="pagination">
            <a href="#1-series" class="btn">1</a>
            <a href="#2-series" class="btn">2</a>
            <a href="#3-series" class="btn">3</a>
            <a href="#4-series" class="btn">4</a>
            <a href="#5-series" class="btn">5</a>
            <a href="#6-series" class="btn">6</a>
            <a href="#7-series" class="btn">7</a>
            <a href="#8-series" class="btn">8</a>
            <a href="#X-series" class="btn">X</a>
            <a href="#Z-series" class="btn">Z</a>
            <a href="#M-series" class="btn">M</a>
            <a href="#I-series" class="btn">I</a>
        </div>
    </nav>
    <main>
        <div class="main_content main_content_border" id="1-series">
            <h3>1</h3>
            <div class="content_box">
                <img src="../images/BMW_1_Series.webp" alt="BMW_1_Series" height="160" width="280">
                <p>BMW 1 Series<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="2-series">
            <h3>2</h3>
            <div class="content_box">
                <img src="../images/BMW_2_Series_Coupe_New.webp" alt="BMW_2_Series_Coupe_New" height="160" width="280">
                <p>BMW 2 Series Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_M240i_xDrive_Coupe.png" alt="BMW_M240i_xDrive_Coupe" height="160" width="280">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p>BMW M240i xDrive Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_2_Series_Gran_Coupe.webp" alt="BMW_2_Series_Gran_Coupe" height="160"
                     width="280">
                <p>BMW 2 Series Gran Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_2_Series_Active_Tourer.webp" alt="BMW_2_Series_Active_Tourer" height="160"
                     width="280">
                <p>BMW 2 Series Active Tourer<br>PETROL PLUG-IN-HYBRID</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_2_Series_Convertible.webp" alt="BMW_2_Series_Convertible" height="160"
                     width="280">
                <p>BMW 2 Series Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_M240i_Convertible.webp" alt="BMW_M240i_Convertible" height="160" width="280">
                <p>BMW M240i Convertible<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_M235i_xDrive_Gran_Coupe.webp" alt="BMW_M235i_xDrive_Gran_Coupe" height="160"
                     width="280">
                <p>BMW M235i xDrive Gran Coupe<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="3-series">
            <h3>3</h3>
            <div class="content_box">
                <img src="../images/BMW_3_Series_Sedan.png" alt="BMW_3_Series_Sedan" height="160" width="280">
                <p>BMW 3 Series Sedan<br>PETROL PLUG-IN HYBRID</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_3_Series_Sedan_M_Automobiles.webp" alt="BMW_3_Series_Sedan_M_Automobiles"
                     height="160" width="280">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p>BMW 3 Series Sedan M Automobiles<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="4-series">
            <h3>4</h3>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Coupe.png" alt="BMW_4_Series_Coupe" height="160" width="280">
                <p>BMW 4 Series Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Coupe_M_Automobiles.webp" alt="BMW_4_Series_Convertible_M_Automobiles"
                     height="160" width="280">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p>BMW 4 Series Coupe M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Gran_Coupe.webp" alt="BMW_4_Series_Gran_Coupe" height="160"
                     width="280">
                <p>BMW 4 Series Gran Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Gran_Coupe_M_Automobiles.webp"
                     alt="BMW_4_Series_Gran_Coupe_M_Automobiles"
                     height="160" width="280">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p>BMW 4 Series Gran Coupe M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Convertible.webp" alt="BMW_4_Series_Convertible" height="160"
                     width="280">
                <p>BMW 4 Series Convertible<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Convertible_M_Automobiles.webp"
                     alt="BMW_4_Series_Convertible_M_Automobiles" height="160" width="280">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p>BMW 4 Series Convertible M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_i4.png" alt="BMW_i4" height="160" width="280">
                <img src="../images/BMW_i_100px.png" alt="BMW_i_100px.png" height="15px" width="45px">
                <p>BMW i4<br>FULL-ELECTRIC</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="5-series">
            <h3>5</h3>
            <div class="content_box">
                <img src="../images/BMW_5_Series_Sedan.webp" alt="BMW_5_Series_Sedan" height="160px" width="280px">
                <p class="car_font">BMW 5 Series Sedan<br>PETROL PLUG-IN HYBRID</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_5_Series_Sedan_M_Automobiles.webp" alt="BMW_5_Series_Sedan_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 5 Series Sedan M Automobiles<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="6-series">
            <h3>6</h3>
            <div class="content_box">
                <img src="../images/BMW_6_Series_Gran_Turismo.webp" alt="BMW_6_Series_Gran_Turismo" height="160px"
                     width="280px">
                <p class="car_font">BMW 6 Series Gran Turismo<br>PETROL DIESEL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="7-series">
            <h3>7</h3>
            <div class="content_box">
                <img src="../images/BMW_7_Series_Sedan.webp" alt="BMW_7_Series_Sedan" height="160px" width="280px">
                <p class="car_font">BMW 7 Series Sedan<br>PETROL DIESEL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_M760Li_xDrive_Sedan.png" alt="BMW_M760Li_xDrive_Sedan" height="160px"
                     width="280px">
                <p class="car_font">BMW M760Li xDrive Sedan<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="8-series">
            <h3>8</h3>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Coupe.webp" alt="BMW_8_Series_Coupe" height="160px" width="280px">
                <p class="car_font">BMW 8 Series Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Coupe_M_Automobiles.webp" alt="BMW_8_Series_Coupe_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 8 Series Coupe M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Convertible.webp" alt="BMW_8_Series_Convertible" height="160px"
                     width="280px">
                <p class="car_font">BMW 8 Series Convertible<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Convertible_M_Automobiles.webp"
                     alt="BMW_8_Series_Convertible_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 8 Series Convertible M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Gran_Coupe.webp" alt="BMW_8_Series_Gran_Coupe" height="160px"
                     width="280px">
                <p class="car_font">BMW 8 Series Gran Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Gran_Coupe_M_Automobiles.webp"
                     alt="BMW_8_Series_Gran_Coupe_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 8 Series Gran Coupe M Automobiles<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="X-series">
            <h3>X</h3>
            <div class="content_box">
                <img src="../images/BMW_X1.webp" alt="BMW_X1" height="160px" width="280px">
                <p class="car_font">BMW X1<br>PETROL PLUG-IN HYBRID FULL-ELECTRIC</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X2.webp" alt="BMW_X2" height="160px" width="280px">
                <p class="car_font">BMW X2<br>PETROL DIESEL PLUG-IN HYBRID</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X2_xDrive25e.png" alt="BMW_X2_xDrive25e" height="160px" width="280px">
                <p class="car_font">BMW X2 xDrive25e<br>PLUG-IN HYBRID</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X2_M35i.webp" alt="BMW_X2_M35i" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X2 M35i<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X3.webp" alt="BMW_X3" height="160px" width="280px">
                <p class="car_font">BMW X3<br>PETROL DIESEL PLUG-IN HYBRID</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X3_xDrive30e.webp" alt="BMW_X3_xDrive30e" height="160px" width="280px">
                <img src="../images/BMW_i_100px.png" alt="BMW_i_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X3 xDrive30e<br>PLUG-IN HYBRID</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_iX.webp" alt="BMW_iX" height="160px" width="280px">
                <img src="../images/BMW_i_100px.png" alt="BMW_i_100px.png" height="15px" width="45px">
                <p class="car_font">BMW iX<br>FULL-ELECTRIC</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X3_M_Automobiles.webp" alt="BMW_X3_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X3 M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X4.webp" alt="BMW_X4" height="160px" width="280px">
                <p class="car_font">BMW X4<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X4_M_Automobiles.webp" alt="BMW_X4_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X4 M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X5.webp" alt="BMW_X5" height="160px" width="280px">
                <p class="car_font">BMW X5<br>PETROL DIESEL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X5_M_Automobiles.webp" alt="BMW_X5_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X5 M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X6.webp" alt="BMW_X6" height="160px" width="280px">
                <p class="car_font">BMW X6<br>PETROL DIESEL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X6_M_Automobiles.webp" alt="BMW_X6_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X6 M Automobiles<br>PETROL DIESEL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X7.webp" alt="BMW_X7" height="160px" width="280px">
                <p class="car_font">BMW X7<br>PETROL DIESEL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X7_M_Automobiles.webp" alt="BMW_X7_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X7 M Automobiles<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="Z-series">
            <h3>Z</h3>
            <div class="content_box">
                <img src="../images/BMW_Z4_Roadster.webp" alt="BMW_Z4_Roadster" height="160px" width="280px">
                <p class="car_font">BMW Z4 Roadster<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_Z4_M40i.webp" alt="BMW_Z4_M40i" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW Z4 M40i<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="M-series">
            <h3>M</h3>
            <div class="content_box">
                <img src="../images/BMW_M135i_xDrive.webp" alt="BMW_M135i_xDrive" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW M135i xDrivei<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_M240i_xDrive_Coupe.png" alt="BMW_M240i_xDrive_Coupe" height="160px"
                     width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW M240i xDrive Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_M235i_xDrive_Gran_Coupe.webp" alt="BMW_M235i_xDrive_Gran_Coupe" height="160px"
                     width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW M235i xDrive Gran Coupe<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_M240i_Convertible.webp" alt="BMW_M240i_Convertible" height="160px"
                     width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW M240i Convertible<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_3_Series_Sedan_M_Automobiles.webp" alt="BMW_3_Series_Sedan_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 3 Series Sedan M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Coupe_M_Automobiles.webp" alt="BMW_4_Series_Coupe_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 4 Series Coupe M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Gran_Coupe_M_Automobiles.webp"
                     alt="BMW_4_Series_Gran_Coupe_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 4 Series Gran Coupe M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_4_Series_Convertible_M_Automobiles.webp"
                     alt="BMW_4_Series_Convertible_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 4 Series Convertible M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_5_Series_Sedan_M_Automobiles.webp" alt="BMW_5_Series_Sedan_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 5 Series Sedan M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_M760Li_xDrive_Sedan.png" alt="BMW_M760Li_xDrive_Sedan" height="160px"
                     width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW M760Li xDrive Sedan<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Coupe_M_Automobiles.webp" alt="BMW_8_Series_Coupe_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 8 Series Coupe M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Convertible_M_Automobiles.webp"
                     alt="BMW_8_Series_Convertible_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 8 Series Convertible M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_8_Series_Gran_Coupe_M_Automobiles.webp"
                     alt="BMW_8_Series_Gran_Coupe_M_Automobiles"
                     height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW 8 Series Gran Coupe M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X2_M35i.webp" alt="BMW_X2_M35i" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X2 M35i<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X3_M_Automobiles.webp" alt="BMW_X3_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X3 M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X4_M_Automobiles.webp" alt="BMW_X4_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X4 M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X5_M_Automobiles.webp" alt="BMW_X5_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X5 M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X6_M_Automobiles.webp" alt="BMW_X6_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X6 M Automobiles<br>PETROL DIESEL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_X7_M_Automobiles.webp" alt="BMW_X7_M_Automobiles" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW X7 M Automobiles<br>PETROL</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_Z4_M40i.webp" alt="BMW_Z4_M40i" height="160px" width="280px">
                <img src="../images/BMW_M_100px.png" alt="BMW_M_100px.png" height="15px" width="45px">
                <p class="car_font">BMW Z4 M40i<br>PETROL</p>
            </div>
        </div>
        <div class="main_content main_content_border" id="I-series">
            <h3>I</h3>
            <div class="content_box">
                <img src="../images/BMW_i3.webp" alt="BMW_i3" height="160px" width="280px">
                <img src="../images/BMW_i_100px.png" alt="BMW_i_100px.png" height="15px" width="45px">
                <p class="car_font">BMW i3<br>FULL-ELECTRIC</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_i4.png" alt="BMW_i4" height="160px" width="280px">
                <img src="../images/BMW_i_100px.png" alt="BMW_i_100px.png" height="15px" width="45px">
                <p class="car_font">BMW i4<br>FULL-ELECTRIC</p>
            </div>
            <div class="content_box">
                <img src="../images/BMW_iX.webp" alt="BMW_iX" height="160px" width="280px">
                <img src="../images/BMW_i_100px.png" alt="BMW_i_100px.png" height="15px" width="45px">
                <p class="car_font">BMW iX<br>FULL-ELECTRIC</p>
            </div>
        </div>
    </main>
</div>
<footer class="footer_box">
    <div class="between_200_height">
    </div>
    <div class="footer_box_flex">
    </div>
    <div class="footer_box_flex">
    </div>
    <section class="section_box">
        <div>
            <i>By Harut Hovakimyan</i>
        </div>
        <div>
            <a class="button" href="#">Link</a>
            <a class="button" href="#">Link</a>
            <a class="button" href="#">Link</a>
            <a class="button" href="#">Link</a>
        </div>
    </section>
</footer>
</body>
<script src="../js/search_page.js" defer>

</script>
</html>